<!DOCTYPE html>
<html>
<head>
    <title>STOCK</title>
    <meta charset="utf-8">
</head>
<body>
    <h1><a href="/">STOCK</a></h1>
    <ol>
<!-- {{ menu | safe }} -->
    </ol>
    <h2>계정생성</h2>
    

    <form action="/useradd" method="post">
        <p><input type="text" name="id" id="id" placeholder="userid"> <button type="submit">중복 확인</button></p>
    </form>
    
    <script>
        function check() {
            document.getElementById('uid').value = document.getElementById('id').value
        }
    </script>
    <form action="/main" method="post" onsubmit="check()">
        <p><input type="hidden" id="uid" name='uid'></p>
        <p><input type="password" name="pw" placeholder="password"></p>
        <!-- <p><input type="password2" name="pw2" placeholder="password"></p> -->
        <button type="submit">계정생성</button>    
    </form>
    

    {{ message|safe }}
</body>
</html>